description "Kibana"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

setgid {{ kibana_user }}
setuid {{ kibana_group }}

exec {{kibana_dest}}/bin/kibana --config {{ kibana_config_file }}
