# Kibana is served by a back end server. This controls which port to use.
server.port: {{ kibana_port|int }}

# The host to bind the server to.
server.host: {{ kibana_host }}

# If you are running kibana behind a proxy, and want to mount it at a path,
# specify that path here. The basePath can't end in a slash.
{% if kibana_server_base_path is defined %}
server.basePath: {{ kibana_server_base_path }}
{% else %}
#server.basePath: ""
{% endif %}

# The Elasticsearch instance to use for all your queries.
elasticsearch.url: {{ elasticsearch_url }}

# preserve_elasticsearch_host true will send the hostname specified in `elasticsearch`. If you set it to false,
# then the host you use to connect to *this* Kibana instance will be sent.
elasticsearch.preserveHost: {{ elasticsearch_preserve_host | bool }}

# Kibana uses an index in Elasticsearch to store saved searches, visualizations
# and dashboards. It will create a new index if it doesn't already exist.
kibana.index: ".kibana"

# The default application to load.
kibana.defaultAppId: "discover"

# If your Elasticsearch is protected with basic auth, these are the user credentials
# used by the Kibana server to perform maintenance on the kibana_index at startup. Your Kibana
# users will still need to authenticate with Elasticsearch (which is proxied through
# the Kibana server)
# elasticsearch.username: "user"
# elasticsearch.password: "pass"

# SSL for outgoing requests from the Kibana Server to the browser (PEM formatted)
# server.ssl.cert: /path/to/your/server.crt
# server.ssl.key: /path/to/your/server.key

# Optional setting to validate that your Elasticsearch backend uses the same key files (PEM formatted)
# elasticsearch.ssl.cert: /path/to/your/client.crt
# elasticsearch.ssl.key: /path/to/your/client.key

# If you need to provide a CA certificate for your Elasticsearch instance, put
# the path of the pem file here.
# elasticsearch.ssl.ca: /path/to/your/CA.pem

# Set to false to have a complete disregard for the validity of the SSL
# certificate.
# elasticsearch.ssl.verify: true

# Time in milliseconds to wait for elasticsearch to respond to pings, defaults to
# request_timeout setting
elasticsearch.pingTimeout: {{ elasticsearch_ping_timeout|int }}

# Time in milliseconds to wait for responses from the back end or elasticsearch.
# This must be > 0
elasticsearch.requestTimeout: {{ elasticsearch_request_timeout|int }}

# Time in milliseconds for Elasticsearch to wait for responses from shards.
# Set to 0 to disable.
elasticsearch.shardTimeout: {{ elasticsearch_shard_timeout|int }}

# Time in milliseconds to wait for Elasticsearch at Kibana startup before retrying
elasticsearch.startupTimeout: {{ elasticsearch_startup_timeout|int }}

# Set the path to where you would like the process id file to be created.
# pid.file: /var/run/kibana.pid

# If you would like to send the log output to a file you can set the path below.
logging.dest: {{ kibana_log_dir }}/kibana.log

# Set this to true to suppress all logging output.
logging.silent: {% if kibana_log_level|lower == 'silent' %}true{% else %}false{% endif %}

# Set this to true to suppress all logging output except for error messages.
logging.quiet: {% if kibana_log_level|lower == 'quiet' %}true{% else %}false{% endif %}

# Set this to true to log all events, including system usage information and all requests.
logging.verbose: {% if kibana_log_level|lower == 'verbose' %}true{% else %}false{% endif %}

{% if kibana_plugins|length > 0 %}
{% for name,cfg in kibana_plugins.items() %}

# {{ name }} configuration
{% for key,val in cfg.configuration.items() %}
{{ key }}: {{ val }}
{% endfor %}

{% endfor %}
{% endif %}
