[Unit]
Description=Kibana
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ kibana_user }}
Group={{ kibana_group }}
Restart=on-failure
{% if kibana_node_options|length > 0 %}
Environment="NODE_OPTIONS={{ kibana_node_options }}"
{% endif %}
ExecStart={{ kibana_dest }}/bin/kibana --config {{ kibana_config_file }}

[Install]
WantedBy=multi-user.target
